<!DOCTYPE html>
<html lang="en">
<%-include('./partials/header.ejs')%>

<body id="sign">
    <%-include('./partials/nav.ejs')%>

    <div class="container my-5">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Sign Up</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control">
                            <div class="email error"></div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                            <div class="password error"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Sign up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error');
            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                //avoid repetion of earlier ere

                emailError.textContent = "";
                passwordError.textContent = "";
                const email = form.email.value;
                const password = form.password.value;

                try {
                    const res = await fetch('/signup', {
                        method: "POST",
                        body: JSON.stringify({
                            email: email,
                            password: password
                        }),
                        headers: {
                            'Content-type': 'application/json'
                        }
                    });

                    const data = await res.json();
                    console.log(data);
                    if (data.errors) {
                        emailError.textContent = data.errors.email;
                        passwordError.textContent = data.errors.password;
                    }

                    if (data.user) {
                        location.assign('/homepage');
                    }
                } catch (err) {
                    console.log(err);
                }


            })
        </script>
        <%-include('./partials/footer.ejs')%>
</body>

</html>